---
layout: default
title: GitLab Docs Hackathon
description: "Join the community, hack on GitLab Docs and win prizes!"
canonical_path: "/community/hackathon/"
suppress_header: true
twitter_image: '/images/opengraph/hackathon-generic-card.png'
extra_css:
  - contributing.css
  - styles-2018.css
extra_js:
  - countdown.js
  - hackathon.js
---
-# Schema.org structured data.
:erb
  <script type="application/ld+json">
  {
  "@context": "https://schema.org",
  "@type": "Hackathon",
  "name": "GitLab Hackathon, the Documentation edition",
  "description": "Get together with the GitLab community to contribute to documentation, learn, and win exciting prizes.",
  "organizer" : "GitLab",
  "startDate": "2023-01-23",
  "endDate": "2023-01-27",
  "eventStatus": "https://schema.org/EventScheduled",
  "eventAttendanceMode": "https://schema.org/OnlineEventAttendanceMode",
  "location": {
    "@type": "VirtualLocation",
    "url": "https://about.gitlab.com/community/hackathon/"
  }
  }
  </script>

.wrapper
  .simple-hero
    .container
      .row
        .col-md-8.col-md-offset-2.hero-image
          = partial "includes/icons/hackathon-header.svg"

      .row
        %h1 GitLab Docs Hackathon

      .row
        .col-md-6.col-md-offset-3
          :markdown
            Get together with the GitLab community to contribute to the docs, learn, and win exciting prizes.
            <i class="fab fa-gitlab fa-fw" style="color:rgb(252,109,38); font-size:.85em" aria-hidden="true"></i>
            Join us on January 23 - 27, 2023!
            <i class="fab fa-gitlab fa-fw" style="color:rgb(252,109,38); font-size:.85em" aria-hidden="true"></i>
            <br/>
            <br/>
            <span class="h3" id="nextHackathonCountdown">
            <i class="fas fa-spinner fa-spin fa-fw" style="color:rgb(255,255,255)); font-size:.85em" aria-hidden="true"></i>
            </span>

  #content
    .wrapper.container.contributing-content{role: "main"}
      .block
        .block-content
          %h2.block-title Joining in
          :markdown
            <b>Important information: you need to <a href="https://www.meetup.com/gitlab-virtual-meetups/events/290691107/">RSVP at our meetup.com event</a> for having your MRs count towards the prizes.</b>
            <br/>
            Join us for the Docs Hackathon, a virtual event open to anyone who wants to contribute to GitLab documentation at https://docs.gitlab.com. Whether you're new to GitLab or a seasoned contributor, working on documentation is a great way to build your skills and experience, and to work with our global team of Technical Writers! People new to tech writing can practice editing in our docs-as-code workflow. And we award prizes to participants for closing documentation issues!
            <br/>

            **To get started:**

            **Prior the Hackathon**

            1. Block the dates on your calendar, or [subscribe](https://calendar.google.com/calendar/u/0?cid=Y183OTMwZmNiMGM5ZTQ3ODNiZGQzZDIzODU4YWU5YWY0MzA2ZjI4ZDk3NmE0MGM4MzNmNTA3MTBjN2NiODZiYTgyQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20) to the [GitLab Developer Evangelism calendar](https://about.gitlab.com/handbook/marketing/community-relations/evangelist-program/#upcoming-events) that includes the Hackathon dates and calls.
            1. <a href="https://www.meetup.com/gitlab-virtual-meetups/events/290691107/">RSVP at our meetup.com event</a> for having your MRs counted towards the prizes
            1. Identify an issue (or more) and leave a comment indicating your interest in working on this/these. That way it's less likely for multiple people to be working on the same issue.
            <br>
            
            **During the Hackathon**

            1. [Join the sessions](#sessions) to find more about the hackathon or watch the recording that will be posted afterwards.
            1. In case you don't want to work on the issues described in the <a href="#issues-to-contribute">contribute area below</a>:
              <br>- To get started with code, check out the curated list of [issues to contribute to](https://about.gitlab.com/community/contribute/development/), based on the project you are interested in contributing to.
            1. Leave a comment on the issue(s) you are working on. For help, you can ask directly in the issue or at the [contributors channel](#getting-help).

      .block
        .block-content
          %h2#issues-to-contribute.block-title
            %a{ href: '#issues-to-contribute' } Issues/Epics to contribute to
         
          %p
          :markdown
            | Contribution Area  | Guides | Qualifying Issues |
            |---------------|-----------------------|--------|----------------------------------|
            | Technical Writing | [Contributing to Documentation](https://about.gitlab.com/community/contribute/documentation/) | [Documentation issues](https://gitlab.com/gitlab-org/gitlab/-/issues?label_name%5B%5D=documentation&label_name%5B%5D=Seeking+community+contributions&label_name%5B%5D=docs-only)  |
          
            
            <p class="alert alert-gitlab-purple text-center">
            <span class="h3" id="hackathonMRCount">
            <i class="fas fa-spinner fa-spin fa-fw" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>
            </span>
            </p>

      .block
        .block-content
          %h2#contribute-for-prize.block-title
            %a{ href: '#prize' } Hackathon Prizes

          %p
          :markdown
            We are excited to offer the following prizes for this Hackathon. 

          %p
          :markdown
            <p class="alert alert-info">
            <i class="fas fa-info-circle" aria-hidden="true" style="color: rgb(49, 112, 143);"></i>
            All qualifying MRs must be submitted between <a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=20230123T12&p1=%3A">January 23rd 12:00 UTC</a> & <a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=20230127T12&p1=%3A">January 27th 12:00 UTC</a> and be <em>merged</em> by
            <a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=20230215T23&p1=%3A">February 15th at 23:00 UTC</a>.
            </p>

            | Categories | Eligibility | Prizes  | Description  |
            |------------|-------------|---------|--------------|
            | Grand Prize | Individual(s) with the most issues closed | ![Grand prize](/images/community/hackathon/gitlab-logo-100.png) | A $100 giftcard for our [swag shop](https://shop.gitlab.com/)! |
            | Second Place | Individual(s) with the second most issues closed | ![Second prize](/images/community/hackathon/gitlab-logo-100.png) |  A $50 giftcard for our [swag shop](https://shop.gitlab.com/)! |
            | Merged MR | Everyone with an MR merged | ![Merged MRs](/images/community/hackathon/tanuki-devops-shirt.png) | A Tanuki t-shirt with our new logo on! |

      .block
        .block-content
          %h2#sessions.block-title
            %a{ href: '#sessions' } Hackathon Tutorials & office hour sessions
          :markdown
            Tutorial sessions during the Hackathon help you get kickstarted with contributing and to learn more about GitLab development. More sessions/speakers may be added as they are confirmed.

          %p

          %table.table
            %thead
              %tr
                %th
                  Date
                %th
                  Time in
                  = link_to "UTC", "https://en.wikipedia.org/wiki/Coordinated_Universal_Time"
                  %br
                  (click for local time)
                %th
                  Topic
                %th
                  Session
                %th
                  Speakers

            %tbody
              %tr
                %td
                  January 23th
                %td
                  = link_to "12:00 - 12:30,", "https://www.timeanddate.com/worldclock/fixedtime.html?iso=20230123T1200&p1=1440&am=30"
                  = link_to "Add it to your calendar", "https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=MTQ1M2tnZHBrMGFkZnFyOGd1MmVtYTJuYTEgY183OTMwZmNiMGM5ZTQ3ODNiZGQzZDIzODU4YWU5YWY0MzA2ZjI4ZDk3NmE0MGM4MzNmNTA3MTBjN2NiODZiYTgyQGc&tmsrc=c_7930fcb0c9e4783bdd3d23858ae9af4306f28d976a40c833f50710c7cb86ba82%40group.calendar.google.com"
                %td
                  Hackathon Kickoff - Learn all about our new Hackathon format, and get ready to start contributing
                %td
                  <a href="https://gitlab.zoom.us/j/91025970775?pwd=SEN5S3YvVHhZNkZWWG4rQ2V4R1d4QT09">Zoom link to Join.</a>
                %td
                  = link_to "Christos Bacharakis (@cbacharakis)", "https://gitlab.com/cbacharakis"
              %tr
                %td
                  January 25th
                %td
                  = link_to "16:00 - 16:30,", "https://www.timeanddate.com/worldclock/fixedtime.html?iso=20230125T16&p1=1440&am=30"
                  = link_to "Add it to your calendar", "https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=MXFkam8xcWZvbjJzdWZic2Vza25jaGFmdWwgY183OTMwZmNiMGM5ZTQ3ODNiZGQzZDIzODU4YWU5YWY0MzA2ZjI4ZDk3NmE0MGM4MzNmNTA3MTBjN2NiODZiYTgyQGc&tmsrc=c_7930fcb0c9e4783bdd3d23858ae9af4306f28d976a40c833f50710c7cb86ba82%40group.calendar.google.com"
                %td
                  Office hour call - Discuss anything related to the Hackathon or GitLab in general
                %td
                  <a href="https://gitlab.zoom.us/j/94856945700?pwd=R2xETGpta0M1SnRJU3VlZjJvUkVidz09">Zoom link to Join.</a>
                %td
                  = link_to "Christos Bacharakis (@cbacharakis)", "https://gitlab.com/cbacharakis"
              %tr
                %td
                  January 27th
                %td
                  = link_to "12:00 - 12:30,", "https://www.timeanddate.com/worldclock/fixedtime.html?iso=20230127T1200&p1=1440&am=30"
                  = link_to "Add it to your calendar", "https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=M3V0bWw2cm91YjZoOWk0cDNmbXA0dGU2dnYgY183OTMwZmNiMGM5ZTQ3ODNiZGQzZDIzODU4YWU5YWY0MzA2ZjI4ZDk3NmE0MGM4MzNmNTA3MTBjN2NiODZiYTgyQGc&tmsrc=c_7930fcb0c9e4783bdd3d23858ae9af4306f28d976a40c833f50710c7cb86ba82%40group.calendar.google.com"
                %td
                  Hackathon Wrap-up call - The Hackathon is over, what's next?!
                %td
                  <a href="https://gitlab.zoom.us/j/91926655113?pwd=ZkI0OU53eXJKV1VLSnY1V3prM0JnZz09">Zoom link to Join.</a>
                  
                %td
                  = link_to "Christos Bacharakis (@cbacharakis)", "https://gitlab.com/cbacharakis"

          %p
          :markdown
            <p class="alert alert-info">
            <i class="fas fa-info-circle" aria-hidden="true" style="color: rgb(49, 112, 143);"></i>
            If you miss any of the sessions, you will find the recordings in the
            <a href="https://www.youtube.com/playlist?list=PLFGfElNsQthapq-CyXBTVnT2yKqg1JrNh">Hackathon Playlist</a>.
            </p>

          %h3#getting-help.block-title
            %a{ href: '#getting-help' } Getting help
          %p
          :markdown
            For communications during the Hackathon, we will use the GitLab Contributors room in Gitter. This is a channel for community-related discussions and for community members to help each other as people have questions when contributing to GitLab.

            It's open to everyone, so please [join us at the [Discord Community Server](https://discord.gg/bs2GZBcE)!
      
      .block
        .block-content
          %h2#past-events.block-title
            %a{ href: '#past-events' } Hackathon Guidelines
          %p
            Hackathon organizers and GitLab team members reserve the rights to:
            %p
              1. not consider a merge request part of the hackathon if it's spam or could be part of a larger Merge Request, etc. If a GitLab team member decides to reject an MR, they should leave a comment informing the contributing and the thinking behind their decision.
            %p
              2. to block and ban a user that is not following GitLab's 
              =link_to "Code of Conduct", "https://about.gitlab.com/community/contribute/code-of-conduct/"
            %p
              3. block and ban a user that is using two or more accounts for participating in the Hackathon

    
      .block
        .block-content
          %h2#past-events.block-title
            %a{ href: '#past-events' } Past events

          %p
            To learn more about previous Hackathon events, visit the
            %a{href: "https://about.gitlab.com/community/hackathon/past-events/"} past GitLab Hackathons page.

      .block
        .block-content
          #hackathon-q-a.animated
            %h2#faq.block-title
              %a{ href: '#faq' } Frequently Asked Questions
            .faq-holder.clearfix
              %ol.faq-container.list-unstyled
                %li.faq-item
                  .faq-inner-item
                    %a.faq-question.js-faq-question
                      Which GitLab projects qualify for the Hackathon?
                      %i.fa.fa-angle-down.pull-right
                    .faq-answer
                      :markdown
                        Participants are invited to contribute to any issues in the [docs issue tracker](https://gitlab.com/gitlab-org/gitlab/-/issues?label_name%5B%5D=documentation&label_name%5B%5D=Seeking+community+contributions&label_name%5B%5D=docs-only)).
              %ol.faq-container.list-unstyled
                %li.faq-item
                  .faq-inner-item
                    %a.faq-question.js-faq-question
                      How are the points being calculated?
                      %i.fa.fa-angle-down.pull-right
                    .faq-answer
                      :markdown
                        Points are awarded to each issue closed from the [docs issue tracker](https://gitlab.com/gitlab-org/gitlab/-/issues?label_name%5B%5D=documentation&label_name%5B%5D=Seeking+community+contributions&label_name%5B%5D=docs-only). We award one point per issue.
                        
              %ol.faq-container.list-unstyled
                %li.faq-item
                  .faq-inner-item
                    %a.faq-question.js-faq-question
                      My Merge Request has been merged. What's next?
                      %i.fa.fa-angle-down.pull-right
                    .faq-answer
                      :markdown
                        After the 15th of February, the team will review all the qualifying issues closed and reach out to contributors. Please expect an email by the 25th of February 2023.
